html,body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
}

:root{
    --primary-color: #fff;
    --secondary-color: #000;
    --third-color : #656431;
    --fourth-color : #d4d73a;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.nusantara-container{
    height: 100vh;
    width: 100vw;
    color: var(--primary-color);
}

div.nav-container{
    margin: 0px;
}

.nav-container{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 2rem 4rem;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 10vh;
    backdrop-filter: blur(1px);  
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.nav-sub-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}


.nav-sub-title img{
    height: 3.5rem;
}

.nav-sub-title h1{
    font-size: 1.5rem;
}

.nav-sub-section ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 30%;
    list-style: none;
}

.nav-sub-section ul li a{
    font-size: 1.1rem;
    padding-bottom: 100px;
}

.nav-sub-section ul li a:hover{
    text-shadow: 0 0.01875rem 0 currentColor;
    text-decoration: underline;
    text-decoration-color: var(--fourth-color);
    text-decoration-thickness: 0.19375rem;
    text-underline-offset: 0.3875rem;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

.nav-sub-section-2{
    display: none;
    align-items: center;
}

.nav-sub-section-2 ion-icon {
    font-size: 2rem;
    color: var(--primary-color); 
    cursor: pointer;
}

.main-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    height: 100vh; 
    box-sizing: border-box;
}

.main-sub-top h3{
    padding-top: 10vh;
    font-size: 1.7rem;
    margin: 0;
    text-shadow: 0 0 10px var(--secondary-color);
}

.main-sub-top h1{
    font-size: 3rem;
    text-shadow: 0 0 10px var(--secondary-color);
    margin: 0;
    padding: 0;
}

.sub-top-h1{
    margin: 1rem 0;
}

.main-sub-top p {
    font-size: 1rem;
    width: 70%;
    text-shadow: 0 0 10px var(--secondary-color);
    margin-bottom: 3rem;
    line-height: 1.5;
}

.buttom-start{
    background-color: var(--third-color);
    width: 15%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid var(--primary-color);
}

.buttom-start p{
    margin: 0rem;
    text-align: center;
}

.main-sub-bot{
    margin-bottom: 3%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;
    justify-content: flex-end;
}

.main-img{
    position: relative;
    display: inline-block;
}

.main-img img {
  width: 15vw;
  max-width: 100%;   
  height: auto;
}

.main-img p{
    position: absolute;
    right: 0.625rem;
    bottom: 0.625rem;
    text-shadow: 2px 0 20px var(--secondary-color);
    margin: 0;
    font-weight: 500;
    font-size: 1rem;
    color: var(--primary-color);
}

span{
    color: var(--fourth-color);
    font-size: 2.5rem;
}

.social-medias{
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
}

.side-navbar{
    display: flex;
    font-size: 1.2rem;
    background-color: var(--third-color);
}

.side-links li a{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.side-links span{
    display: none;
    font-size: 0.8rem;
    color: var(--primary-color);
    margin-left: 2px;
    opacity: 0;
}

.side-links:hover span{
    display: inline;
    opacity: 1;
}

.side-navbar a{
    color: var(--primary-color);
}

.side-links a:hover{
    color: var(--fourth-color);
} 

.social-medias a{
    color: var(--third-color);
}

.social-medias a:hover{
    color: var(--primary-color);
} 


.side-navbar{
    position: fixed;
    top: 50%;
    padding-right: 0.7rem;
    z-index: 99999;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.side ul li {
    list-style: none;
}

ul.side-links{
    padding-left: 0.3rem;
}

.section-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    height: auto; 
    box-sizing: border-box;
    background-color: var(--secondary-color);
}


.learn-container{
    width: 80%;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.learn-top-sub{
    width: 100%;
}

.learn-bot-sub-left{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.l-sub-left-bot{
    position: relative;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.l-sub-left-bot p{
    font-style: italic;
}
.l-sub-left-bot img{
    width: 12rem;
    position: absolute;
    right: 30rem;
}

.l-sub-left-top p{
    text-align: justify;
    line-height: 1.5;
}
.learn-bot-sub-right{
    flex: 1;
} 

.learn-line{
    width: 50vw;
    height: 0.2rem;
    background-color: var(--fourth-color);
}

.learn-line-2{
    width: 20vw;
    height: 0.2rem;
    background-color: var(--fourth-color);
}
.learn-bot-sub{
    display: flex;
    gap: 2rem;
}

.l-sub-right-top img{
    width: 100%;
    padding-bottom: 0.5rem;
} 

.l-sub-right-bot{
    display: flex;
    gap: 0.5rem;
}

.l-sub-right-bot img{
    width: 2rem;
    flex: 1;
}

.funfact-container{
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    margin: 0 auto;
    gap: 2rem;
    margin-bottom: 5rem;
}

.funfact-sub-left{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

.funfact-sub-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.funfact-arrow img{
    height: 1rem;
}

.f-sub-left-top{
    background-color: var(--third-color);
    box-sizing: border-box;
    padding: 1rem 2rem ;
}

.f-sub-left-bot{
    position: relative;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem 2rem;
    text-align: end;
}

.f-sub-left-bot .tupai {
    position: absolute;
    bottom: 98%; 
    left: 10%; 
    width: 3rem; 
}

.f-sub-left-bot p{
    background-color: var(--third-color);
    color: var(--primary-color);
    box-sizing: border-box;
    padding: 0.5rem 0.3rem;
}

.funfact-arrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.funfact-img-1{
    background:url(Images/Funfact/1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
}

.funfact-img-2{
    background:url(Images/Funfact/2.jpeg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
}

.funfact-img-3{
    background:url(Images/Funfact/3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
}


.popular-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.popular-sub-top{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.line-3{
    flex: 3;
    background-color: var(--fourth-color);
    width: 100%;
    height: 0.3rem;
}

.popular-title{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.popular-title h1{
    margin-bottom: 0rem;
}

.popular-title h3{
    margin-top: 0.5rem;
    font-style: italic;
}

.popular-sub-bott-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5rem;
    width: 100%;
}

.popular-sub-bott{
    background-color: var(--third-color);
    padding: 2rem 2rem ;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    width: 17%;
    height: 23rem;
    margin-bottom: 2rem;
    box-shadow: 4px 4px 4px var(--fourth-color); 
    border-radius: 0; 
}

.p-sub-bott-1-1 {
    width: 100%;
    margin: 0 auto;
}

.p-sub-bott-1-1 img{
    width: clamp(10rem, 13rem, 20rem);
    margin: 0 auto;
}

.p-sub-bott-1-2{
    display: flex;
    gap: 0.7rem;

}

.p-sub-bott-1-2 ion-icon{
    font-size: 1.5rem;
    color: var(--fourth-color);
}

.p-sub-bott-1-2-title{
    width: 90%;
}

.p-sub-bott-1-2-title h4{
    margin: 0 0 0.3rem 0;
}
.p-sub-bott-1-2-title p{
   margin: 0;
   font-size: 1rem;
   max-height: 5rem;
   text-align: start;
}

.section-2-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    height: auto; 
    box-sizing: border-box;
    background: url(Images/indonesia-nature.jpg);
    /* z-index: 1; */
    background-repeat: no-repeat;
    background-size: cover;
}

.animal-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto 6rem;
}

.animal-sub-top{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 6rem;

}

.popular-sub-top{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.animal-title{
    flex: 1;
}

.animal-title-sub a ion-icon{
    font-size: 3rem;
}

.line-3{
    flex: 3;
    background-color: var(--fourth-color);
    width: 100%;
    height: 0.3rem;
}

.popular-title{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular-title h1{
    margin-bottom: 0rem;
}

.animal-sub-bott{
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    
}

.a-subb-bott-main {
    position: relative;   
    width: 100%;
    overflow: hidden;   
}

.a-subb-bott-main img {
    width: 100%;
    height: auto;       
    display: block;
}

.animal-titles {
    position: absolute;
    bottom: 0;            
    left: 0;
    width: 17rem;
    background: rgba(0, 0, 0, 0.5);  
    color: white;
    box-sizing: border-box;
    padding: 1rem;
    box-sizing: border-box;
}

.animal-titles h3 {
    margin: 0 0 0.3rem 0;
    font-size: 1.2rem;
}

.animal-title-sub {
    display: flex;
    justify-content: space-between;
}

.animal-title-sub ion-icon{
    font-size: 6rem;
    color: var(--fourth-color);
}

.animal-title-sub p {
    margin: 0;
}

.a-subb-bott-main img{
    height: 30rem;
    display: block;
    width: auto;
}

.section-3-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    height: auto; 
    box-sizing: border-box;
    background-color: var(--third-color);
}

.news-container{
    width: 80%;
    margin: 0 auto ;
}

.news-title{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-sizing: border-box;
    padding: 0.5rem 2rem;
    margin-top: 3rem;
}

.news-title h1{
    margin-bottom: 0
}

.news-sub-main{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    background-color: var(--primary-color);
    box-sizing: border-box;
    padding: 2rem;
    gap: 2rem;
    margin-bottom: 4rem;
}

.news{
    display: flex;
    color: var(--secondary-color);
    gap: 2rem;
}

.news p{
    text-align: justify;
}

.news a{
    color: var(--fourth-color);
}

.nothing-container{
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7); 
}

.nothing-container p{
    font-size: 1.2rem;
    font-style: italic;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    background-color: var(--third-color);
    color: var(--primary-color);
    box-sizing: border-box;
    padding: 2rem 3rem;
}

.footer-sub-left{
    width: 30%;
}

.footer-sub-left ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    justify-content: start;
    margin: 0;
    padding: 0;
}

.footer-title{
    padding-bottom: 1rem;
}

ul.footer-ul li a{
    color: var(--fourth-color);
}

ul{
    list-style: none;
}

.footer-sub-center a,
.footer-sub-right a{
    text-decoration: none;
}

.footer-sub-center p,
.footer-sub-right p{
    font-weight: bold;
}

.footer-sub-right{
    padding-right: 10rem;
}

.footer-sub-center ul li,
.footer-sub-right ul li{
    margin-bottom: 0.5rem;
}

.copyright {
    background-color: var(--secondary-color);
    text-align: center;   
    padding: 0.5rem 0;     
    font-size: 0.9rem;      
    color: var(--third-color);        
}

.popular-sub-bott:hover,
.a-subb-bott-main:hover{
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    transition: all 0.3s ease;
}


@media only screen and (max-width: 767px) {
    html{
        font-size: 70%;
    }

    .nav-container{
        position: fixed;
        background-color: var(--secondary-color);
    }

    .nav-sub-section ul li a{
        display: none;
    }

    .side-navbar{
        display: none;
    }
    .main-container{
        min-height: 100vh;
        height: auto;
    }
    .nav-sub-section-2 {
        display: block;
    }

    .main-sub-top{
        display: flex;
        flex-direction: column;
        padding-top: 5rem;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .first-desc{
        text-align: justify;
    }

    .buttom-start{
        width: 50%;
    }

    .main-container{
        justify-content: start;
    }

    .main-sub-bot{
        margin-top: 4.3rem;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
    }

    .learn-bot-sub,
    .popular-sub-bott-container,
    .animal-sub-bott,
    .news{
        flex-direction: column;
    }

    .popular-sub-bott-container{
        margin-top: 2rem;
    }

    .learn-container{
        margin: 5rem auto;
    }

    .funfact-container{
        flex-direction: column-reverse;
    }
    .animal-sub-bott{
        gap: 2rem;
    }
    .popular-sub-bott{
        width: 85%;
        height: auto;
    }
     
    .p-sub-bott-1-1 img{
        width: 80%;
        display: flex;
    }

    .p-sub-bott-1-2{
        width: 100%;
    }

    .p-sub-bott-1-2 ion-icon{
        font-size: 3rem;
    }
    .line-3{
        flex: 2;
    }

    .a-subb-bott-main img{
        height: 100%;
        width: 60vw;
        margin: 0 auto;
    }

    .animal-titles{
        left: 12.5%;
        width: 75%;
    }

    .nothing-container{
        text-align: center;
    }

    .footer-sub-right{
        padding: 0;
    }
    
    .nothing-container{
        text-align: center;
        box-sizing: border-box;
        padding: 0 1rem;
    }

    .footer-sub-right{
        padding: 0;
    }

     .main-img img{
        width: 60vw;  
        height: auto;
    }

    .footer-container{
        font-size: 150%;
        flex-direction: column;
        align-items: center;
    }

    .footer-sub-left{
        width: 100%;
        text-align: center;
    }

    .footer-sub-center ul,
    .footer-sub-right ul{
        width: 100%;
        text-align: center;
        padding: 0;
    }

    ul.footer-ul{
        justify-content: center;
    }

}

 @media only screen and (max-width: 400px) {
    html{
        font-size: 50%;
    }

    .main-img img {
        width: 20rem;
        height: auto;
    }
 }

@media only screen and (min-width: 768px) and (max-width: 991px) {
    html{
        font-size: 90%;
    }
    
    .nav-sub-section ul{
        justify-content: start;
    }
     .nothing-container{
        text-align: center;
    }

    .footer-sub-right{
        padding: 0;
    }

    .learn-bot-sub{
        margin-top: 2rem;
    }

    .learn-container{
        height: auto;
        margin: 2rem auto;
    }
    .learn-bot-sub-left{
        flex: 1;
        justify-content: flex-start;
    }

    .l-sub-right-bot{
        flex-direction: column;
    }

    .l-sub-right-bot img{
        width: 100%;
    }

    .funfact-sub-left{
        flex: 1;
    }

     .popular-sub-bott{
        width: 35%;
        height: auto;
    }
     
    .p-sub-bott-1-1 img{
        width: 80%;
        display: flex;
    }

    .p-sub-bott-1-2{
        width: 100%;
    }

    .p-sub-bott-1-2 ion-icon{
        font-size: 3rem;
    }
    
    .animal-sub-bott{
        flex-wrap: wrap;
        gap: 2rem;
    }
    .a-subb-bott-main img{
        height: 100%;
        width: 30vw;
    }

    .a-subb-bott-main{
        width: 40%;
        margin: 0 auto;
    }
    .animal-titles{
        left: 0%;
        width: 94%;
    }

    .news img{
        object-fit: cover ;
        object-position: top center;
        width: 40%;
    }

    .news-desc{
        width: 60%;
    }

    #simpase{
         object-position: top right;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1500px) {
    .popular-sub-bott{
        width: 15%;
        height: 23rem;
        justify-content: start;
    }
     
    .p-sub-bott-1-1 img{
        width: 90%;
        display: flex;
    }

    .p-sub-bott-1-2{
        width: 100%;
    }

    .p-sub-bott-1-2 ion-icon{
        font-size: 3rem;
    }

    .a-subb-bott-main{
        width: 40%;
        margin: 0 auto;
    }
    
    .animal-titles{
        left: 0%;
        width: 100%;
    }

}