
html,body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
}

:root{
    --primary-color: #fff;
    --secondary-color: #000;
    --third-color : #656431;
    --fourth-color : #d4d73a;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.nusantara-container{
    height: 100vh;
    width: 100vw;
    color: var(--primary-color);
}

div.nav-container{
    margin: 0px;
}

.nav-container{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 2rem 4rem;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 10vh;
    backdrop-filter: blur(1px);  
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.nav-sub-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}


.nav-sub-title img{
    height: 3.5rem;
}

.nav-sub-title h1{
    font-size: 1.5rem;
}

.nav-sub-section ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 30%;
    list-style: none;
}

.nav-sub-section ul li a{
    font-size: 1.1rem;
    padding-bottom: 100px;
}

.nav-sub-section ul li a:hover{
    text-shadow: 0 0.01875rem 0 currentColor;
    text-decoration: underline;
    text-decoration-color: var(--fourth-color);
    text-decoration-thickness: 0.19375rem;
    text-underline-offset: 0.3875rem;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

.nav-sub-section-2{
    display: none;
    align-items: center;
}

.nav-sub-section-2 ion-icon {
    font-size: 2rem;
    color: var(--primary-color); 
    cursor: pointer;
}

.main-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    height: 90vh; 
    box-sizing: border-box;
}

.main-sub-top h3{
    padding-top: 10vh;
    font-size: 1.7rem;
    margin: 0;
    text-shadow: 0 0 10px var(--secondary-color);
}

.main-sub-top h1{
    font-size: 3rem;
    text-shadow: 0 0 10px var(--secondary-color);
    margin: 0;
    padding: 0;
}

.sub-top-h1{
    margin: 1rem 0;
}

.main-sub-top p {
    font-size: 1rem;
    width: 70%;
    text-shadow: 0 0 10px var(--secondary-color);
    margin-bottom: 3rem;
    line-height: 1.5;
}

.buttom-start{
    background-color: var(--third-color);
    width: 15%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
     border: 0.5px solid var(--primary-color);
}

.buttom-start p{
    margin: 0rem;
    text-align: center;
}

.main-sub-bot{
    margin-bottom: 3%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;
    justify-content: flex-end;
}

.main-img{
    position: relative;
    display: inline-block;
}

.main-img img {
  width: clamp(12rem, 15vw, 20rem);
  max-width: 100%;   
  height: auto;
}

.main-img p{
    position: absolute;
    right: 0.625rem;
    bottom: 0.625rem;
    text-shadow: 2px 0 20px var(--secondary-color);
    margin: 0;
    font-weight: 500;
    font-size: 1rem;
    color: var(--primary-color);
}

span{
    color: var(--fourth-color);
    font-size: 2.5rem;
}

.social-medias{
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
}

.side-navbar{
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    background-color: var(--third-color);
}

.side-navbar a{
    color: var(--primary-color);
}

.side-links a:hover{
    color: var(--fourth-color);
} 

.social-medias a{
    color: var(--third-color);
}

.social-medias a:hover{
    color: var(--primary-color);
} 


.side-navbar{
    position: fixed;
    top: 50%;
    padding-right: 0.7rem;
    z-index: 99999;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
}

.side ul li {
    list-style: none;
}

ul.side-links{
    padding-left: 0.3rem;
}


.section-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    height: auto; 
    box-sizing: border-box;
    background-color: var(--secondary-color);
}


.learn-container{
    width: 80%;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.learn-top-sub{
    width: 100%;
}

.learn-bot-sub-left{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.l-sub-left-bot{
    position: relative;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.l-sub-left-bot p{
    font-style: italic;
}
.l-sub-left-bot img{
    width: 12rem;
    position: absolute;
    right: 30rem;
}

.l-sub-left-top p{
    text-align: justify;
    /* text-indent: 3rem; */
    line-height: 1.5;
}
.learn-bot-sub-right{
    flex: 1;
} 

.learn-line{
    width: 50vw;
    height: 0.2rem;
    background-color: var(--fourth-color);
}

.learn-line-2{
    width: 20vw;
    height: 0.2rem;
    background-color: var(--fourth-color);
}
.learn-bot-sub{
    display: flex;
    gap: 2rem;
}

.l-sub-right-top img{
    width: 100%;
    padding-bottom: 0.5rem;
} 

.l-sub-right-bot{
    display: flex;
    gap: 0.5rem;
}

.l-sub-right-bot img{
    width: 2rem;
    flex: 1;
}

.funfact-container{
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    margin: 0 auto;
    gap: 2rem;
    margin-bottom: 5rem;
}

.funfact-sub-left{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    gap: 3rem;
}

.funfact-sub-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.funfact-arrow img{
    height: 1rem;
}

.f-sub-left-top{
    background-color: var(--third-color);
    box-sizing: border-box;
    padding: 1rem 2rem ;
}

.f-sub-left-bot{
    position: relative;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem 2rem;
    text-align: end;
}

.f-sub-left-bot .tupai {
    position: absolute;
    bottom: 98%; 
    left: 10%; 
    width: 3rem; 
}

.f-sub-left-bot p{
    background-color: var(--third-color);
    color: var(--primary-color);
    box-sizing: border-box;
    padding: 0.5rem 0.3rem;
}

.funfact-arrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.funfact-img-1{
    background:url(Images/Funfact/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
}

.funfact-img-2{
    background:url(Images/Funfact/2.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
}

.funfact-img-3{
    background:url(Images/Funfact/3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
}


.popular-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.popular-sub-top{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.line-3{
    flex: 3;
    background-color: var(--fourth-color);
    width: 100%;
    height: 0.3rem;
}

.popular-title{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular-title h1{
    margin-bottom: 0rem;
}

.popular-title h3{
    margin-top: 0.5rem;
    font-style: italic;
}

.popular-sub-bott-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular-sub-bott{
    background-color: var(--third-color);
    padding: 2rem 2rem ;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    /* justify-content: center; */
    width: 15%;
    height: 23rem;
    margin-bottom: 2rem;
}

.p-sub-bott-1-1 {
    width: 100%;
    margin: 0 auto;
}

.p-sub-bott-1-1 img{
    width: 13rem;
    margin: 0 auto;
    /* border-radius: 0.5rem; */
}

.p-sub-bott-1-2{
    display: flex;
    align-items: center;
    gap: 0.7rem;

}

.p-sub-bott-1-2 ion-icon{
    font-size: 1.5rem;
    color: var(--fourth-color);
}

.p-sub-bott-1-2-title{
    width: 90%;
}

.p-sub-bott-1-2-title h4{
    margin: 0 0 0.3rem 0;
}
.p-sub-bott-1-2-title p{
   margin: 0;
   font-size: 1rem;
   max-height: 5rem;
   text-align: start;
}

.section-2-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    height: auto; 
    box-sizing: border-box;
    background-color: var(--third-color);
}

.animal-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.animal-sub-top{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 6rem;

}

.popular-sub-top{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.animal-title{
    flex: 1;
}

.line-3{
    flex: 3;
    background-color: var(--fourth-color);
    width: 100%;
    height: 0.3rem;
}

.popular-title{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular-title h1{
    margin-bottom: 0rem;
}

/* Monitor > 24 inch */
@media (max-width: 1400px) {
 
    html { 
        font-size: 90%;
    }
    
    .buttom-start{
        width: 15%;
        
    }
    .main-container {
        padding-top: 10vh;   
    }

    .main-img img {
        width: 12rem;       
    }

    .main-img p{
        font-size: 1.1rem;
    }

    .main-sub-top h3{
        padding-top: 0vh;
        font-size: 1.7rem;
        margin: 0;
        text-shadow: 0 0 10px var(--secondary-color);
    }
}

@media (min-width: 600px) and (max-width: 1300px) {
    .nusantara-container{
        background-position: center;
    }

    .nav-container{
        justify-content: space-around;
        padding: 2rem 0rem;
        background: rgba(0, 0, 0, 0.97); 
    }

    div#nav.nav-container{
        padding: 0;
    }

    .nav-sub-section ul {
        width: 100%;
        gap: 1rem; 
    }

    .nav-sub-section ul li a { 
        font-size: clamp(1rem, 2.3vw, 3rem);
        align-items: center;
        padding: 0px;
      
    }

    div.main-container{
        margin-top: 0;
    }

    .main-container {
        margin-top: 0;
        /* margin-top: 2rem; */
        justify-content: flex-start;
        gap: 1rem;
    }

    .main-sub-bot{
        height: 100%;
    }

    .main-sub-top h3 { 
        font-size: clamp(1.5rem, 5vw, 5rem);
        margin-bottom: 2rem;
    }

    .main-sub-top h1 { 
        margin:0 0 1rem 0;
        font-size: clamp(2rem, 7vw, 5rem);
    }

    .main-sub-top p  { 
    font-size: clamp(1.3rem, 2vw, 2.3em);
    }


    .main-img img {
        width: clamp(12rem, 22vw, 20rem);
        height: auto;
        max-height: 100vh;
        object-fit: cover;
        object-position: center;
    }

    .main-sub-bot {
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 10%;
        justify-content: flex-start;
    }

    .buttom-start{
        width: 35%;
            
    }

    .main-sub-bot{
         gap: 1rem;
     }
}
@media (max-width: 600px) { 

   .nav-container{
        justify-content: space-between;
        padding: 2rem;
        background: rgba(0, 0, 0, 0.97); 
    }

    .nav-sub-title img{
        height: 1.5rem;
    }

    .nav-sub-title img{
        height: clamp(3rem, 5vw, 5rem);
    }

    .nav-sub-title{
        font-size: clamp(0.5rem, 2vw, 2rem);
    }
   
    .nav-sub-section{
        display: none;
    }

    .nav-sub-section-2{
        display: flex;
    }

    div.main-container{
        margin-top: 0;
        padding-top: 5vh;
    }

    .main-container {
        margin-top: 2rem;
        justify-content: flex-start;
        gap: 1rem;
    }

    .main-sub-top{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .main-sub-bot{
        height: 100%;
    }

    .main-sub-top h3 { 
        font-size: clamp(1.5rem, 5vw, 5rem);
        margin-bottom: 1rem;
    }

    .main-sub-top h1 { 
        margin:0 0 0.3rem 0;
        font-size: clamp(1.7rem, 7vw, 4.3rem);
    }

    .main-sub-top p  { 
        font-size: clamp(1rem, 2vw, 2rem);
        text-align: center;
    }


    .main-img img {
        width: 40vw;
        height: auto;
        max-height: 100vh;
        object-fit: cover;
        object-position: center;
    }

    .main-sub-bot {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10%;
        justify-content: flex-start;
    }

    .buttom-start{
        width: 35%;
            
    }

    .main-sub-bot{
         gap: 1rem;
     }
}